@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
section{
    background-color: #e8f5f5;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
header{
    position: fixed;
    top:0; left:0; right:0;
    background:#cce2e5;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    
    font-size: 3rem;
    background: linear-gradient(to right, #ee4866,#31ea72);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    
}


header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:#666;
}

header .navbar a:hover{
    color:#e84393;
}

header .icons a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:#e84393;
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    display: none;
    border: .1rem solid rgba(0,0,0,.3);
}
section{
    padding:2rem 9%;
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background:url(tulip2.jpg); 
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color:#333;
}

.home .content span{
    font-size: 3.5rem;
    /* color:#d26499; */
    color: #e84393;
    padding:1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color:#6e6b6b;
    padding:1rem 0;
    line-height: 1.5;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:#e84393;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    margin:2rem 0;
    background:rgba(255, 51, 153,.05);
}

.heading span{
    color:#e84393;
}

.about .description{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
}

.about  .video-content{
    flex:1 1 40rem;
    position: relative;
}

.about  video{
    width:100%;
    border:1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.about .video-content h3{
    position:absolute;
    top:50%;
    transform: translateY(-50%); 
    font-size: 3rem;
    color:#333;
    background:#fff;
    width:100%;
    padding:1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about  .content{
    flex:1 1 40rem;
    
}

.about .content h3{
    font-size: 3rem;
    color:#333;
}

.about .content p{
    font-size: 1.5rem;
    color:#999;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}


.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.products .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.1);
    position: relative;
}

.products  .discount{
    position: absolute;
    top:1rem; left:1rem;
    padding:.7rem 1rem;
    font-size: 2rem;
    color:#e84393;
    background:rgba(255, 51, 153,.05);
    border-radius: .5rem;
    z-index: 1;
}

.products .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow:hidden;
}

.products img{
    height:28rem;
}

.products .box:hover {
    box-shadow: 0rem .5rem 1.5rem hotpink;
    .image img{
    transform: scale(1.1);
   
}}

.products .image .icons{
    position: absolute;
    bottom:-7rem; left:0; right:0;
    display: flex;
}
.products  .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width:50%;
    background:#e84393;
    color:#fff;
}

.products  .box:hover .image .icons{
    bottom:0;
}


.products .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width:100%;
}

.products .icons a:hover{
    background:#333;
}

.products  .content{
    padding:2rem;
    text-align: center;
}

.products .content h3{
    font-size: 2.5rem;
    color:#333;
}

.products  .price{
    font-size: 2.5rem;
    color:#e84393;
    font-weight: bolder;
    padding-top: 1rem;
}

.products  .price span{
    font-size: 1.5rem;
    color:#999;
    font-weight: lighter;
    text-decoration: line-through;
}

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.review .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.1);
    padding:3rem 2rem;
    position: relative;
}

.review .box-container .box .stars i{
    color:#e84393;
    font-size: 2rem;
}

.review .box-container .box p{
    color:#999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.review .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review  .user img{
    height:6rem;
    width:6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review  .user h3{
    font-size: 2rem;
    color:#333;
}
.review  .box .fa-quote-right{
    position: absolute;
    bottom:3rem; right:3rem;
    font-size: 6rem;
    color:#eee;
}
.review  .user span{
    font-size: 1.5rem;
    color:#999;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.footer .box-container .box{
    flex:1 1 25rem;
}

.footer .box h3{
    color:#333;
    font-size: 2.5rem;
    padding:1rem 0;
}

.footer  .box a{
    display: block;
    color:#666;
    font-size: 1.5rem;
    padding:1rem 0;
}

.footer  .box a:hover{
    color:#e84393;
    text-decoration: underline;
}

.footer .box img{
    margin-top: 1rem;
}

.footer .credit{
    text-align: center;
    padding:1.5rem;
    padding-top: 2.5rem;
    margin-top: 1rem;
    font-size: 2rem;
    color:#333;
    border-top: .1rem solid rgba(0,0,0,.1);
}

.footer .credit span{
    color:#e84393;
}


/* media queries  */
@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

    .home{
        
        background-position: 52%;
    }

}

@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position:absolute;
        top:-451%; left:0; right:0;
        background:#eee;
        border: .1rem solid rgba(0,0,0,.1);
        z-index: -1;
    }
   

    header #toggler:checked ~ .navbar{
         top:100%; left:0; right:0;
        
        
    }
    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:#fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
    }
    
    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }

    .about .row .video-container h3{
        font-size: 2rem;
    }
    
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}

/* for javascript */

.popup{
    height: 278px;
    width: 305px;
    background-color: lavender;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    z-index: 999;
    position: absolute;
    left: 85%;
    top: 0;
    transform: translate(-50%,-50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s , top 0.4s;
    border: 4px solid #d4af37;
    
}
.openPopup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    visibility: visible;
}


.popup p{
    font-size: 1.6rem;
    margin-top: 11px;
    margin-left: 23px;
    padding-bottom: 0;
    text-align: center;
    font-weight: 500;
}

.popup h2{
    font-size: 2.5rem;
    font-weight: 700;
}
.popup button{
    width: 260px;
    height: 40px;
    
    cursor: pointer;
    border-radius: 4px;
    background-color: #e84393;
    position: relative;
    bottom: -36px;
    color: white;
    font-weight: 500;
    outline: none;
    border: none;

}
